@model Memento.Models.CategoryViewModel

<div class="grid-holder mt-4">
    <table class="table table-hover" id="tblCategory">
        <thead>
            <tr>
                <th scope="col" width="50">Sr No</th>
                <th width="500" scope="col">@Model.SelectedTypeName</th>
                <th width="100" scope="col" class="text-right"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CategoryMList != null)
            {
                @foreach (var item in Model.CategoryMList)
                {
                    <tr>
                        <td>@item.OrderNo</td>
                        <td>@item.CategoryName</td>
                        <td class="text-right">
                            @*<a href="" class="action-btn pink-dim" editId="@item.Id" onclick="editcategory()"><i class="fa fa-pencil"></i></a>*@
                            @*<a href="#" data-toggle="modal" data-categoryid="@item.Id" class="action-btn pink-dim editcategory" id="editcategory" ><i class="fa fa-pencil"></i></a>*@
                            <a href="javascript:;" data-toggle="modal" data-target="#addItem" class="btn btn-secondary " id="editnewcategory" onclick="editcategory('@item.CategoryId', '@item.CategoryName')"><i class="fa fa-pencil"></i></a>
                            <a href="" class="action-btn pink-dim delete" data-categoryid="@item.CategoryId"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-category_typename"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="UpdateCategory" asp-controller="Category" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.HiddenFor(model => model.category.TypeId, new { @id = "hidTypeId" })
                                @Html.HiddenFor(model => model.category.CategoryId, new { @id = "hId" })
                                <label>Name</label>
                                @Html.TextBoxFor(model => model.category.CategoryName, new { @id = "txtName", @class = "form-control", placeholder = "Enter your Name" })
                                @Html.ValidationMessageFor(model => model.category.CategoryName)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="btnSubmit" type="submit"><i class="loader"></i>Submit   </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.11.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/expressive.annotations.validate.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<script type="text/javascript">

    $(".delete").click(function () {
        resultId = $(this).attr("data-categoryid");
        if (confirm("Please confirm if you want to remove this record") == true) {
            $.ajax({
                url: '@Url.Action("DeleteCategory", "Category")',
                cache: false,
                data: { CategoryId: resultId },
                type: 'POST',
                success: function (data) {
                    window.location.href = "/Category/Index/";

                },
                error: function (xhr) {
                    return false;

                }
            });
        }
        else {
            return false;
        }
    });
   function editcategory(resultId, resultName) {
        $("#hId").val(resultId);
       $("#txtName").val(resultName);
       $("#modal-category_typename").html("");
       $("#modal-category_typename").html("Edit " + '@Model.SelectedTypeName');
    };
</script>
@*<script>

        $('#tblCategory').dataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 5,
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": true,
                    "searchable": false
                },
                {
                    "targets": [2],
                    "searchable": false,
                    "orderable": false
                }],


        });
    </script>*@